.mobile-menu {
  position: absolute;
  width: 100%;
  height: calc(100vh - 5rem);
  left: 0;
  top: 5rem;
  background-color: #17252a;
  animation: mobilenav 300ms ease-out;
}

@keyframes mobilenav {
  from {
    height: 0;
  }
  to {
    height: 92vh;
  }
}

.hamburger {
  height: 5rem;
  padding: 0.6rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  #navbar {
    display: none;
  }
  #logo {
    display: none;
  }
  .transitions-item {
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {
  #aboutTextContainer {
    width: 16rem;
  }
  #quote {
    margin-left: 5rem;
    width: 90%;
  }
  #portfolioContainer {
    width: 90%;
  }
  #portfolioContainer h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #aboutStyles {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 15% 30% 30% 25%;
    grid-template-areas:
      "."
      "text"
      "year"
      "q";
  }

  #aboutTextContainer {
    width: 80%;
    margin: 0 auto;
  }
  #quote {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  #aboutStyles {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      ". ."
      "text text"
      "year year"
      "q q";
  }

  #aboutTextContainer {
    width: 90%;
    margin: 0 auto;
  }
  #aboutTextHeading {
    font-size: 1.5rem;
  }
  #aboutText {
    font-size: 0.9rem;
  }
  #quote {
    font-size: 0.9rem;
    margin: 0 auto;
    width: 80%;
  }
}
